<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="widthdevice-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
      <header>
          <nav>
              {% block nav %}
                  <span class="nav"><a href="{% url 'sci:sci-index' %}">home</a></span>
                  <span class="nav"><a href="{% url 'sci:sci-checkins' %}">checkins</a></span>
                  <span class="nav"><a href="{% url 'sci:sci-check-checkins' %}">check checkins</a></span>
              {% endblock %}
          </nav>
      </header>
      <div class="content">
          {% block content %}{% endblock %}
      </div>
      <footer>
      </footer>
  </body>
</html>
